body, html{
    background-color: #212121;
    color:white;
}
#board{
    /* margin:50vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    margin:0 auto;
    margin-top: 30vh;
    height:40vh;
    width:40vh;
}
.cell{
    border:1px solid white;
}
.char{
    text-align: center;
    font-size: 3rem;
    padding-top:25%;
    color:white;
}
.invisible{
    display: none;
}
.visible{
    display: flex;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 5vh;
    width:15rem;
}
#restartbutton{
    flex:1;
    height:3rem;
    border-radius: 1rem;
    background-color: orange;
    font-family: serif;
    font-size: 2rem;
}
#WinLoses{
    display:flex;
    justify-content: center;
    gap:2rem;
    font-size: 2rem;
    margin-top: 5vh;
}