body, html{
    background-color: #212121;
    color:white;
    padding:0;
    margin: 0;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding: 1rem;
    border:none;
    margin-top: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
#menu > img{
    cursor: pointer;
    height: 2rem;
    width:2rem;
}
#playerChooseOption{
    flex-direction: column;
    gap: 2rem;
    align-content: center;
    justify-content: center;
}
#playerChoiceForComputer{
    display: flex;
    gap:6rem;
}
#board{
    /* margin:50vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    margin:0 auto;
    margin-top: 20vh;
    height:40vh;
    width:40vh;
}
.OptionComputer{
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 1rem;
    padding:1rem;
}
.OptionComputer:hover{
    background-color: green;
}
.cell{
    border:1px solid white;
}
.char{
    text-align: center;
    font-size: 3rem;
    padding-top:25%;
    color:white;
}
.invisible{
    display: none;
}
.visible{
    display: flex;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 5vh;
    width:15rem;
}
#restartbutton{
    flex:1;
    height:3rem;
    border-radius: 1rem;
    background-color: orange;
    font-family: serif;
    font-size: 2rem;
}
#WinLoses{
    display:flex;
    justify-content: center;
    gap:2rem;
    font-size: 2rem;
    margin-top: 5vh;
}